# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cpp_starter_package/.vs/Fourmis/v17/Browse.VC.db-shm
cpp_starter_package/.vs/Fourmis/v17/Browse.VC.db-wal
cpp_starter_package/.vs/Fourmis/v17/Browse.VC.opendb
*.vsidx
*.vsidx
*.db
*.ipch
*.tlog
*.html
*.replay
*.stream
*.ipch
*.db
*.idb
*.pdb
*.tlog
cpp_starter_package/.vs/Fourmis/v17/.suo
cpp_starter_package/.vs/Fourmis/v17/Browse.VC.db
*.pdb
*.log
*.ilk
*.pdb
*.idb
*.json
*.sqlite
