# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cpp_starter_package/.vs/Fourmis/v17/Browse.VC.db-shm
cpp_starter_package/.vs/Fourmis/v17/Browse.VC.db-wal
cpp_starter_package/.vs/Fourmis/v17/Browse.VC.opendb
*.vsidx
*.vsidx
*.db
*.ipch
*.tlog
*.html
*.replay
*.stream
*.ipch
*.db
*.idb
*.pdb
*.tlog
cpp_starter_package/.vs/Fourmis/v17/.suo
cpp_starter_package/.vs/Fourmis/v17/Browse.VC.db
*.pdb
*.log
*.ilk
*.pdb
*.idb
*.json
*.sqlite
*.db
cpp_starter_package/game_logs/0.stream
cpp_starter_package/x64/Debug/debug.txt
cpp_starter_package/x64/Debug/Fourmis.ilk
cpp_starter_package/x64/Debug/Fourmis.log
cpp_starter_package/x64/Debug/Fourmis.pdb
cpp_starter_package/x64/Debug/Fourmis.tlog/CL.command.1.tlog
cpp_starter_package/x64/Debug/Fourmis.tlog/CL.read.1.tlog
cpp_starter_package/x64/Debug/Fourmis.tlog/CL.write.1.tlog
cpp_starter_package/x64/Debug/Fourmis.tlog/link.read.1.tlog
cpp_starter_package/x64/Debug/vc143.idb
cpp_starter_package/x64/Debug/vc143.pdb
